html {
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
    text-align: center;
    background-color: #f8f9ff;
    color: #2a88b7;
  }

  .header {
    /* Set the height to the full viewport height */
    height: 50vh;
    /* Set the width to the full viewport width */
    width: 100vw;
    /* Center the content horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header img {
    /* Set the photo to take up most of the screen */
    max-width: 100vw;
    max-height: 50wh; 
    height: auto;
    object-fit: contain;
  }
  .about-section {
    /* Set the height to the full viewport height */
    height: 50vh;
    /* Set the width to the full viewport width */
    width: 100vw;
    background-color: #8ab2c6;
    display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 auto;
  }
  .image-about {
    width: 30%;
    margin-right: 20px;
    order: 1;
  }
  .text-about {
    width: 45%;
    order: 2;
    padding-right: 10%;
  }
  @media (max-width: 600px) {
    .image-about, .text-about {
      width: 100%;
    }
  }
  .section {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    margin: 10px;
  }
  .section-2 {
    /* Set the height to the full viewport height */
    height: 50vh;
    /* Set the width to the full viewport width */
    width: 100vw;
    background-color: #8ab2c6;
    align-items: center;
    padding-top: 1%;
  }
  #logo {
    width: 7rem;
    height: 7rem;
    object-fit: contain;
    margin-top: 2rem;
  }
  
  h1 {
    color: #b2b7e8;
  }